{% extends "parts/base.html" %}
{% block content %}
 
    <div class="container">
        <div class="row align-items-center text-center text-md-start">
            {% load static %}
            <div class="col-md-6">
                <h3 class="fw-light mt-4">
                    Welcome to your dashboard! Here you can do a quick search for parts and view any past or present orders...
                </h3>
            </div>
            <div class="col-md-6 text-center">
                <img src="{% static 'images/engineer.png' %}" alt="Engineers image" id="engineerimg" class="img-fluid">
            </div>
        </div>
    </div>


    {% if announcements %}
        <h3 class="my-4">Announcements <i class="fa-solid fa-bullhorn"></i></h3>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner text-center">
                {% for announcement in announcements %}
                {% if forloop.first %}
                    <div class="carousel-item active">
                {% else %}
                    <div class="carousel-item">
                {% endif %}
                    <blockquote class="blockquote">
                        <p>{{ announcement.message }}</p>
                    </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}


    <h3 class="my-4">Quick Search:</h3>
    <div class="px-4 py-5 w-100 bg-dark text-light border rounded shadow">
        <form method="get">
            <div class="form-group d-flex justify-content-between align-items-center">
                <!--Search bar-->
                <input type="text" name="searchVal" class="form-control me-4 input" placeholder="Search for part by code or name" value="{{ search_value }}">
                <!--Search button-->
                <button type="submit" class="btn btn-dark-bg me-2"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
            </div>
        </form>
    </div>

    <h3 class="my-4">My Orders:</h3>
    <div class="p-4 w-100 bg-dark text-light border rounded shadow myOrders">
        <!--Orders split by status using bootstrap tabs-->
        <ul class="nav nav-tabs" id="projectsTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active order-tab" id="current-tab" data-bs-toggle="tab" data-bs-target="#current" type="button" role="tab" aria-controls="current" aria-selected="true">Current Orders<span class="badge rounded-pill bg-danger mx-2">{{ current_orders_count }}</span></button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link order-tab" id="past-tab" data-bs-toggle="tab" data-bs-target="#past" type="button" role="tab" aria-controls="past" aria-selected="false">Past Orders<span class="badge rounded-pill bg-danger mx-2">{{ past_orders_count }}</span></button>
            </li>
        </ul>

        <div class="tab-content p-3 bg-white text-dark" id="myHomeTabContent">
            <div class="tab-pane fade show active" id="current" role="tabpanel" aria-labelledby="current-tab">
                <div class="row row-cols-1 g-4">
                    {% if current_orders %}
                        {% for order in current_orders %}
                            <div class="col">
                                <div class="card h-100 text-dark bg-light">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-9">
                                                {% if order.items.all %}
                                                    {% for item in order.items.all %}
                                                        <div class="row py-3">
                                                            <div class="col-4 col-lg-2">
                                                                <span class="bg-secondary text-light rounded p-2">{{ item.quantity }} x</span>
                                                            </div>
                                                            <div class="col-8 col-lg-10">
                                                                <span>{{ item.part.name }}</span>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    <p>No items in this order.</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-3 d-flex align-items-center justify-content-center">
                                                <span>
                                                    {% if order.status == 'in_progress' %}
                                                        {{ order.collection_datetime|date:"D jS M @ H:m" }}
                                                    {% elif order.status == 'ready' %}
                                                        Ready!
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                        {% endfor %}
                    
                    {% else %}
                        <p>You have no current orders..</p>
                    {% endif %}
                </div>
            </div>

            <div class="tab-pane fade" id="past" role="tabpanel" aria-labelledby="past-tab">
                <div class="row row-cols-1 g-4">
                    {% if past_orders %}
                        {% for order in past_orders %}
                            <div class="col">
                                <div class="card h-100 text-dark bg-light">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-8">
                                                {% if order.items.all %}
                                                    {% for item in order.items.all %}
                                                        <div class="row py-3">
                                                            <div class="col-4 col-lg-2">
                                                                <span class="bg-secondary text-light rounded p-2">{{ item.quantity }} x</span>
                                                            </div>
                                                            <div class="col-8 col-lg-10">
                                                                <span>{{ item.part.name }}</span>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% else %}
                                                    <p>No items in this order.</p>
                                                {% endif %}
                                            </div>
                                            <div class="col-4 d-flex align-items-center justify-content-center">
                                                <span>Collected!</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>You have no current orders..</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock content %}