{% extends "parts/base.html" %}
{% block content %}
    <h1 class="my-5">Low Stock <i class="fa-solid fa-circle-exclamation"></i></h1>

    <!--Table showing list of parts-->
    <table class="table table-light parts">
        <thead class="table-dark">
            <tr>
                <th>Part Code</th>
                <th>Part Name</th>
                <th>Location</th>
                <th class="text-center">In Stock</th>
            </tr>
        </thead>
        <tbody>
            {% if parts %}
                <!--If parts found, list details-->
                {% for part in parts %}
                    <tr class="table-danger text-danger">
                        <td><a href="{% url 'part-detail' part.id %}">{{ part.code }}</a></td>
                        <td>{{ part.name }}</td>
                        <td>{{ part.location }}</td>
                        <td class="text-center">{{ part.num_in_stock }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <!--If no parts found, show not found message-->
                <tr>
                    <td colspan="4">No parts found...</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock content %}