{% extends "parts/base.html" %}
{% block content %}
    <h1>Spare Parts List</h1>

    <form method="get" class="mb-3">
        <!--Search bar-->
        <input type="text" name="searchVal" class="form-control" placeholder="Search by code or name" value="{{ search_value }}">
        <!--Search button-->
        <button type="submit" class="btn btn-primary mt-2"><i class="fa-solid fa-magnifying-glass"></i></button>
        <!--Button to clear search-->
        <a href="{% url 'parts-list' %}" class="btn btn-secondary mt-2">Clear</a>
    </form>

    <!--Table showing list of parts-->
    <table class="table">
        <thead>
            <tr>
                <th>Part</th>
                <th>Location</th>
                <th>Number in Stock</th>
            </tr>
        </thead>
        <tbody>
            {% if parts %}
                <!--If parts found, list details-->
                {% for part in parts %}
                    <tr>
                        <td><a href="{% url 'part-detail' part.id %}">{{ part.code }} - {{ part.name }}</a></td>
                        <td>{{ part.location }}</td>
                        <td>{{ part.num_in_stock }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <!--If no parts found, show not found message-->
                <tr>
                    <td colspan="3">No parts found...</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock content %}