{% extends "parts/base.html" %}
{% block content %}
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center my-5">
        <h1>Spare Parts List <i class="fa-solid fa-screwdriver-wrench"></i></h1>
        {% if user.profile.user_group == 'store_manager' %}
            <a href="{% url 'part-create' %}" class="btn btn-light-bg rounded-pill mt-2 mt-md-0">Add New Part <i class="fa-solid fa-plus ms-2"></i></a>
        {% endif %}
    </div>

    
    <form method="get" class="mb-5">
        <div class="form-group d-flex justify-content-between align-items-center">
            <!--Search bar-->
            <input type="text" name="searchVal" class="form-control me-4 input" placeholder="Search by code or name" value="{{ search_value }}">
            <!--Search button-->
            <button type="submit" class="btn btn-light-bg me-2"><i class="fa-solid fa-magnifying-glass fa-xl"></i></button>
            <!--Button to clear search-->
            <a href="{% url 'parts-list' %}" class="btn btn-secondary">Clear</a>
        </div>
    </form>

    <!--Table showing list of parts-->
    <table class="table table-light table-hover parts">
        <thead class="table-dark">
            <tr>
                <th>Part Code</th>
                <th>Part Name</th>
                {% if user.profile.user_group == 'store_manager' %}
                    <th>Location</th>
                {% endif %}
                <th class="text-center">In Stock</th>
            </tr>
        </thead>
        <tbody>
            {% if parts %}
            <!--If parts found, list details-->
                {% for part in parts %}
                    <tr data-href="{% url 'part-detail' part.id %}" class="part-detail-link">
                        <td>{{ part.code }}</td>
                        <td>{{ part.name }}</td>
                        {% if user.profile.user_group == 'store_manager' %}
                            <td>{{ part.location }}</td>
                        {% endif %}
                        <td class="text-center">{{ part.num_in_stock }}</td>
                    </tr>
                {% endfor %}
            {% else %}
            <!--If no parts found, show not found message-->
                <tr>
                    <td colspan="4">No parts found...</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    


    <!--Pagination-->
    <nav aria-label="Parts pagination" class="mb-5">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if search_value %}&searchVal={{ search_value }}{% endif %}" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if search_value %}&searchVal={{ search_value }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if search_value %}&searchVal={{ search_value }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if search_value %}&searchVal={{ search_value }}{% endif %}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll(".part-detail-link").forEach(row => {
                row.addEventListener("click", function() {
                    window.location = this.getAttribute("data-href");
                });
            });
        });
    </script>
{% endblock content %}