{% extends "parts/base.html" %}
{% block content %}

    <!--Table showing part details-->
    <table class="table table-secondary mb-5 parts">
        <thead>
            <tr>
                <th class="py-2">Part Code</th>
                <th class="py-2">Part Name</th>
                {% if user.profile.user_group == 'store_manager' %}
                    <th class="py-2">Location</th>
                {% endif %}
                <th class="py-2">In Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="py-3">{{part.code}}</td>
                <td class="py-3">{{ part.name }}</td>
                {% if user.profile.user_group == 'store_manager' %}
                    <td class="py-3">{{ part.location }}</td>
                {% endif %}
                <td class="py-3">{{ part.num_in_stock }}</td>
            </tr>
        </tbody>
    </table>

    {% if user.profile.user_group == 'store_manager' %}
        <!--Form to receipt into stock-->
        <form method="post" class="p-4 border rounded bg-light">
            {% csrf_token %}
            <h3>Receipt in Stock</h3>
            <div class="form-group d-flex justify-content-center align-items-center my-5">
                <button type="button" class="btn btn-secondary p-3" id="minus-btn-receipt"><i class="fa-solid fa-minus fa-xl"></i></button>
                <input type="number" id="stock_input" name="receipt_quantity" class="form-control text-center mx-4" value="0" readonly required style="max-width: 80px;">
                <button type="button" class="btn btn-secondary p-3" id="plus-btn-receipt"><i class="fa-solid fa-plus fa-xl"></i></button>
            </div>
            <button type="submit" class="btn btn-primary mt-5 mb-2 w-100 d-block mx-auto">Add to Stock</button>
        </form>
        
    {% endif %}

    {% if user.profile.user_group == 'engineer' %}
        <!--Form to add to order-->
        <form method="post" class="p-4 border rounded bg-light">
            {% csrf_token %}
            <h3>Order</h3>
            <div class="form-group d-flex justify-content-center align-items-center my-5">
                <button type="button" class="btn btn-secondary p-3" id="minus-btn-order"><i class="fa-solid fa-minus fa-xl"></i></button>
                <input type="number" id="order_input" name="order_quantity" class="form-control text-center mx-4" value="0" readonly required style="max-width: 80px;">
                <button type="button" class="btn btn-secondary p-3" id="plus-btn-order"><i class="fa-solid fa-plus fa-xl"></i></button>
            </div>
            <button type="submit" class="btn btn-primary mt-5 mb-2 w-100 d-block mx-auto">Add to Order</button>
        </form>
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const receiptStockValue = document.getElementById('stock_input');
            const minusBtnReceipt = document.getElementById('minus-btn-receipt');
            const plusBtnReceipt = document.getElementById('plus-btn-receipt');
            const orderValue = document.getElementById('order_input');
            const minusBtnOrder = document.getElementById('minus-btn-order');
            const plusBtnOrder = document.getElementById('plus-btn-order');

            if (receiptStockValue && minusBtnReceipt && plusBtnReceipt) {
                // On click Minus button, if value is above 0, subtract 1
                minusBtnReceipt.addEventListener('click', function () {
                    let currentValue = parseInt(receiptStockValue.value, 10) || 0;
                    if (currentValue > 0) {
                        receiptStockValue.value = currentValue - 1;
                    }
                });

                // On click Plus button, add 1 to value
                plusBtnReceipt.addEventListener('click', function () {
                    let currentValue = parseInt(receiptStockValue.value, 10) || 0;
                    receiptStockValue.value = currentValue + 1;
                });
            }

            if (orderValue && minusBtnOrder && plusBtnOrder) {
                // On click Minus button, if value is above 0, subtract 1
                minusBtnOrder.addEventListener('click', function () {
                    let currentValue = parseInt(orderValue.value, 10) || 0;
                    if (currentValue > 0) {
                        orderValue.value = currentValue - 1;
                    }
                });

                // On click Plus button, add 1 to value
                plusBtnOrder.addEventListener('click', function () {
                    let currentValue = parseInt(orderValue.value, 10) || 0;
                    orderValue.value = currentValue + 1;
                });
            }

        });
    </script>
{% endblock content %}