{% extends "parts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!--Form to add or update part-->
    <div class="content-section mx-auto pb-5" style="width: 80%;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom border-light border-2 mb-4 pb-2">
                    {% if object.id %}
                        Edit Part details
                    {% else %}
                        Create new Part
                    {% endif %}
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-light-bg" type="submit">Save</button>
                {% if object.id %}
                <a href="{% url 'part-detail' object.id %}" class="btn btn-secondary">Cancel</a>
                {% else %}
                    <a href="{% url 'parts-list' %}" class="btn btn-secondary">Cancel</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}