{% extends "parts/base.html" %}
{% block content %}
    <h1>Your Basket</h1>

    {% if basket.items.exists %}
        <table class="table">
            <thead>
                <tr>
                    <th>Part</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in basket.items.all %}
                <tr>
                    <td>{{ item.part.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="remove_item_id" value="{{ item.id }}">
                            <button class="btn" type="submit"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method="post" >
            {% csrf_token %}
            <label for="collection_datetime">Select Collection Date and Time:</label>
            <input 
                type="datetime-local" 
                id="collection_datetime" 
                name="collection_datetime" 
                required>
            <button type="submit" class="btn btn-primary">Submit Order</button>
        </form>
    {% else %}
        <p>Your basket is empty.</p>
    {% endif %}

{% endblock %}
