{% extends "parts/base.html" %}
{% block content %}
    <h1 class="my-5">Your Basket</h1>

    <!--If items in basket show table containing items-->
    {% if basket.items.exists %}
        <table class="table table-light align-middle basket">
            <thead class="border-bottom border-dark border-2">
                <tr>
                    <th class="part">Part</th>
                    <th class="quantity">Quantity</th>
                    <th class="delete"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in basket.items.all %}
                <tr>
                    <td class="py-3">{{ item.part.name }}</td>
                    <td class="py-3">{{ item.quantity }}</td>
                    <td class="py-3">
                        <!--Button to delete item from basket-->
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="remove_item_id" value="{{ item.id }}">
                            <button class="btn" type="submit"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!--Form to set collection date and time-->
        <form method="post" class="mb-5">
            {% csrf_token %}
            <div class="form-group py-5">
                <div class="row justify-content-end">
                    <div class="col-md-4">
                        <label for="collection_datetime" class="form-label">Collection Date and Time:</label>
                        <input 
                            type="datetime-local" 
                            id="collection_datetime" 
                            name="collection_datetime" 
                            class="form-control input"
                            required>
                    </div>
                </div>
                <div class="row justify-content-end mt-3">
                    <div class="col-md-4">
                        <!--Button to submit order-->
                        <button type="submit" class="btn btn-light-bg w-100">Submit Order</button>
                    </div>
                </div>
            </div>
        </form>  
    {% else %}
    <!--If no items in basket show empty basket message and image-->
       <div class="text-center mb-5">
            {% load static %}
            <img src="{% static 'images/emptybasket.png' %}" alt="Empty Basket" id="emptybasket">
            <h4 class="mt-4">Your basket is empty...</h4>
        </div>
    {% endif %}

{% endblock %}
