{% extends "parts/base.html" %}
{% load crispy_forms_tags %} 
{% block content %}
    <div class="content-section mx-auto pb-5" style="width: 80%;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom border-light border-2 mb-4 pb-2">Register</legend>

                {{ form|crispy }}
            </fieldset>
            <div class="form-group"> 
                <button class="btn btn-light-bg" type="submit">Register</button>
            </div>
        </form>
        <div class="border-top border-light border-2 mt-3 pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}